extends layout

block content
    h1 Dashboard
    
    p This is your dashboard

    div
        a(href="/auth/signup") > Add User
    
    div
        a(href='/dashboard/review') > Add a Review

    div
        a(href='/dashboard/contactus') > Edit Contact Us information
        