extends layout

block content
    
    section.page-content
        section.title-and-user
            h1 This is your Dashboard. 
                
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    i(class="fa fa-user fa-lg")
        section.grid
            article.no1
                img.no1-image(src="https://res.cloudinary.com/dcpwkfvej/image/upload/v1580757659/HMFinance/Backoffice_Preview_Images/homepage1_k1fmcs.png" alt="homepage")
            article.no2
                img.no2-image(src="https://res.cloudinary.com/dcpwkfvej/image/upload/v1580756262/HMFinance/Backoffice_Preview_Images/homepage2_rkyjhq.png" alt="clients")
            article.no3
                img.no3-image(src="https://res.cloudinary.com/dcpwkfvej/image/upload/v1580756262/HMFinance/Backoffice_Preview_Images/homepage5_hsrdar.png" alt="contact")
            article.no4
                img.no4-image(src="https://res.cloudinary.com/hmfinance/image/upload/v1581702276/Site/Backoffice_Preview_Images_2020-02-14_17_43/homepage3_iu3rx0_luku41.png" alt="services")
            article.no5
                img.no5-image(src="https://res.cloudinary.com/dcpwkfvej/image/upload/v1580756262/HMFinance/Backoffice_Preview_Images/homepage4_yovjiw.png" alt="simulators")
            article.no6
        