extends layout

block content
    
    section.page-content
        section.title-and-user
            h1 This is your Dashboard. 
                
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    i(class="fa fa-user fa-lg")
        section.grid
            article.no1
                a#homeid(href='/#home')
                    img.no1-image(src="https://res.cloudinary.com/hmfinance/image/upload/v1581702276/Site/Backoffice_Preview_Images_2020-02-14_17_43/homepage1_k1fmcs_xc0nep.png" alt="homepage")
            article.no2
                a(href='/#clients')
                    img.no2-image(src="https://res.cloudinary.com/hmfinance/image/upload/v1581702276/Site/Backoffice_Preview_Images_2020-02-14_17_43/homepage2_rkyjhq_ndyskz.png" alt="clients")
            article.no3
                a(href='/services')
                    img.no3-image(src="https://res.cloudinary.com/hmfinance/image/upload/v1581702276/Site/Backoffice_Preview_Images_2020-02-14_17_43/homepage3_iu3rx0_luku41.png" alt="contact")
            article.no4
                a(href='/simulators')
                    img.no4-image(src="https://res.cloudinary.com/hmfinance/image/upload/v1581702276/Site/Backoffice_Preview_Images_2020-02-14_17_43/homepage4_yovjiw_hlrelk.png" alt="services")
            article.no5
                a(href='/#contactus')
                    img.no5-image(src="https://res.cloudinary.com/hmfinance/image/upload/v1581702276/Site/Backoffice_Preview_Images_2020-02-14_17_43/homepage5_hsrdar_gzvjcu.png" alt="simulators")
            article.no6
        