extends layout

block content
    h1 Dashboard
    
    p This is your dashboard

    div
        a(href="/auth/signup") > Add User
    
    div
        a(href='/dashboard/reviews') > Reviews

    div
        a(href='/dashboard/contactus') > Edit Contact Us information

    div
        a(href='/dashboard/clients') > Clients information

    div
        a(href='/dashboard/simulators') > Simulators    

