extends layout

block content
    
    section.page-content
        section.title-and-user
            h1 This is your Dasboard. 
                
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    span.badge 1
                    svg
                        use(xlink:href='#users')
        section.grid
            article
            article
            article
            article
            article
            article
        