doctype html
html
  head
    title HMFinance
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/backoffices/backoffices.css')

  body
    div.desktopOnly
        h1 Warning: Not Available
        h2 To have the best experience this page is only available for the desktop version