doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/backoffices/backoffices.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    header.page-header
        nav
            a(href='/dashboard')
                img.logo(src='https://res.cloudinary.com/dzvkdhu9c/image/upload/v1580302813/HMFinance/hmfinanceNoBackground_m06o2l.png', alt='HMFinance logo')
            button.toggle-mob-menu(aria-expanded='false', aria-label='open menu')
                svg(width='30', height='30', aria-hidden='true')
                    use(xlink:href='#down')
            ul.admin-menu
                li.menu-heading
                    h3 Admin
                li
                    a(href='/auth')
                        svg
                            use(xlink:href='#pages')
                        span Users Management
                li
                    a(href='/dashboard/homepage')
                        svg
                            use(xlink:href='#users')
                        span Homepage
                li
                    a(href='/dashboard/reviews')
                        svg
                            use(xlink:href='#trends')
                        span Reviews
                li
                    a(href='/dashboard/contactus')
                        svg
                            use(xlink:href='#collection')
                        span Contact Us
                li
                    a(href='/dashboard/clients')
                        svg
                            use(xlink:href='#comments')
                        span Clients
                li
                    a(href='/dashboard/simulators')
                        svg
                            use(xlink:href='#appearance')
                        span Simulators
                li
                    if user 
                        a(href="/auth/logout")
                            svg(aria-hidden='true')
                              i(class="fa fa-sign-out")
                            span.logoutbtn Logout
                    else  
                        a(href="/auth/login")
                            svg(aria-hidden='true')
                                i(class="fa fa-sign-in")   
                            span.logoutbtn Login

    
    block content
      

  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
