doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/backoffices/backoffices.css')

  body

block content
    div.log-form 
        h2 Login to your account
        form(action="/auth/login", method="post" class="form-signin")
            #error
                if error
                    p.text-danger Error!!
 
            input(type="email", name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
               
            input(type="password", name="password" id="inputPassword" class="form-control" placeholder="Password" required)
            
            button(class="btn" type="submit") Sign in

            

