extends layout

block content
  section.page-content
    section.title-and-user
        h1 Reviews

        .admin-profile
          span.greeting Hi, #{user.email}
          .notifications
            i(class="fa fa-user fa-lg")

        div
            a(href="/dashboard") Dashboard

    section.homepage
        div.homepage-main-content
            h2 List of the Reviews
            div.addUser
                form.addReviewButton(action="/dashboard/reviews/new")
                    input(type="submit" value="Adicionar Review" class="btn btn-primary btn-lg")
            div.review-wrapper
                section.table-grid
                div.user-table
                    table
                        tbody
                            tr
                                th 
                                    h3 Nome
                                th 
                                    h3 Comentário
                                th
                                    h3 Editar
                                          
                        each review in reviews
                            tr
                                td.nome #{review.name}
                                td.commentario #{review.commentPT}
                                td
                                    form.review-button(action="/dashboard/reviews/" + review.id + "/edit")
                                        input(type="submit" value="Edit Review" class="btn btn-warning")
                    


            
            
            
                      

