extends layout

block content
    div
        a(href="/dashboard") Dashboard

    h1 Reviews
    div
        a(href="/dashboard/reviews/new") Adicionar Review
    div
        each review in reviews
            p Nome: #{review.name}
            p Comentário: #{review.commentPT}
            a(href="/dashboard/reviews/" + review.id + "/edit") Editar Review
        

    
    
    
                      

