extends layout

block content
    div
        a(href="/dashboard") Dashboard

    h1 Reviews
    div
        a(href="/dashboard/reviews/new") Adicionar Review
    div
        h3 List of the Reviews
        each review in reviews
            div
                p Nome: #{review.name}
                p Comentário: #{review.commentPT}
            div
                a(href="/dashboard/reviews/" + review.id + "/edit") Editar Review
        

    
    
    
                      

