extends layout

block content
  section.page-content
    section.title-and-user
        h1 Reviews

        .admin-profile
          span.greeting Hi, #{user.email}
          .notifications
            span.badge 1
            svg
              use(xlink:href='#users')

        div
            a(href="/dashboard") Dashboard

    section.homepage
        div.homepage-main-content
            h2 List of the Reviews
            div.addUser
                form.addReviewButton(action="/dashboard/reviews/new")
                    input(type="submit" value="Adicionar Review" class="btn btn-primary btn-lg")
            div.review-wrapper
                each review in reviews
                    div
                        p.nome Nome: #{review.name}
                        p.commentario Comentário: #{review.commentPT}
                    div
                        form.review-button(action="/dashoboard/review" + review.id + "/edit")
                            input(type="submit" value="Edit Review" class="btn btn-warning")
        

    
    
    
                      

