extends layout

block content
    h1 Simulators
    div
        a(href='/dashboard') Dashboard
    br
    div
        div
            a(href='/dashboard/simulators/imt') IMT
        div
            a(href='/dashboard/simulators/maisvalias') Mais valias
        div
            a(href='/dashboard/simulators/segsocial') Segurança Social
