extends layout

block content
    section.page-content
        section.title-and-user
            h1 Simulators
            
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    i(class="fa fa-user fa-lg")
        
        br
        section.homepage
            div.homepage-main-content
                h2.simh2 Selecione um simulador para editar:
                    div.simoverview
                        a(href='/dashboard/simulators/imt') 
                            h3.simborder IMT
                    div.simoverview
                        a(href='/dashboard/simulators/maisvalias') 
                            h3.simborder Mais Valias
                    div.simoverview 
                        a(href='/dashboard/simulators/segsocial') 
                            h3.simborder Segurança Social
