extends layout

block content
    h1 Simulators
    div
        a(href='/dashboard') Dashboard
    br
    div
        a(href='/dashboard/simulators/segsocial') Simulador Segurança Social
        br
        a(href='/dashboard/simulators/maisvalias') Simulador Mais Valias
        br
        a(href='/dashboard/simulators/imt') Simulador IMT