extends layout

block content
    section.page-content
        section.title-and-user
            h1 Simulators
            
            .admin-profile
                span.greeting Hi, #{user.email}
                .notifications
                    span.badge 1
                    svg
                        use(xlink:href='#users')
        
        br
        section.homepage
            div.homepage-main-content
                h2 Selecione um simulador para editar:
                    div.panel-wrapper 
                        a(href='/dashboard/simulators/imt') 
                            h4 IMT
                    div.panel-wrapper 
                        a(href='/dashboard/simulators/maisvalias') 
                            h4 Mais valias
                    div.panel-wrapper 
                        a(href='/dashboard/simulators/segsocial') 
                            h4 Segurança Social
