block content
  h1 Users
  div
    a(href="/dashboard") Dashboard
  div
    a(href="/auth/signup") Add New User
  

  table
    tbody
        tr
            th 
                h3 User  
            th
                p       
    each user in users
        tr
            td #{user.email}

            td
                form(action=`/auth/${user.id}/delete` method="post")
                    input(
                    type="submit"
                    value="Delete"
                    )

