doctype html
html
  head
    //- Meta Tags Google
    title HM Finance, serviços de contabilidade. Vários anos de experiência em serviços contabílisticos.
    meta(charset='UTF-8')
    meta(name='description' content='Uma equipa dinâmica formada em Contabilidade, Fiscalidade, Auditoria e Gestão de Recursos Humanos. Conheça a qualidade e a oferta dos nossos serviços em Lisboa.')

    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    //- Meta Tags Facebook (Quanto tivermos o URL final descomentar e adicionar + adicionar imagens à cloud para termos URL e ficar acessível ao Facebook)
    //- meta(property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html")
    meta(property="og:title" content="HM Finance, serviços de contabilidade. Vários anos de experiência em serviços contabílisticos.")
    meta(property="og:description" content="Uma equipa dinâmica formada em Contabilidade, Fiscalidade, Auditoria e Gestão de Recursos Humanos. Conheça a qualidade e a oferta dos nossos serviços em Lisboa.")
    //- meta(property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg")

    link(rel='stylesheet', href='/stylesheets/homepage.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script.
      $(document).ready(function(){
        $("#menubutton").click(function(){
            $("#navbar").slideToggle();
        });
      });
      $(document).ready(function(){
        $("#navbar").click(function(){
            $("#navbar").slideToggle();
        });
      });
  body
    block content
