block content
    h1 Simulator
    div
        form(id="simulatorSS") 
            div    
                label Trabalhador:
                select(id="workers")
                    option(value="TI") Trabalhador Independente
                    option(value="ENI") Empresário em Nome Individual
            div    
                label Regime:
                select(id="regime")
                    option(value="Simp") Regime Simplificado
                    option(value="CO") Contabilidade Organizada
            div    
                label Quantos meses abriu atividade:
                select(id="monthsOfActivity")
                    option(value=">12") Mais que 1 ano de atividade
                    option(value="<=12") Menos que 1 ano de atividade
            div    
                label Tipo de atividade:
                select(id="typeOfActivity")
                    option(value=">12") Mais que 1 ano de atividade
                    option(value="<=12") Menos que 1 ano de atividade  
            div    
                label Profit/Year:
                input(type="text" id="profitYear")
            div
                input(type="submit" value="Calcular")
    script.
        const simulator = !{JSON.stringify(simulator[0])}

    script(src='/javascripts/SimulatorSS.js')
        

            
