* { margin: 0; padding: 0 }
html { height: 100%; animation: fadein 2s; color: #404040; letter-spacing: 2px; text-align: center; color: #404040; scroll-behavior: smooth; font: calc(10px + 1vmin) 'Roboto',sans-serif }
h1 { color:#404040; font-family: 'Montserrat',sans-serif; line-height: 50px; position: relative; z-index: 99 }
h2,h3,h4,h5 { text-align: center !important; font-family: "Roboto",sans-serif; color:#ffffff; background-color: #A00000;}
h4 { font-size: 15px; font-weight: 100 }
h5 { font-size: calc(30px + 1vmin); font-weight: bolder; line-height: 1 }
a { color: #404040; text-decoration: none }
a:hover { color: #A00000}
::-webkit-scrollbar { display:none; }

#main { position: relative; z-index: 2; overflow: hidden }
.pcontainer { width: 100%; position: relative; overflow: hidden; 
	z-index: -10; min-height: 1990px; height: 210vh; max-height: 400vh;}
.pimage { position: absolute; top: 0; left: 50%; 
	transform: translate(-50%,0); filter: grayscale(100%); opacity: .25; 
	height: 100%; min-width: 100vw; z-index: -10 }

/* #backgrounddiv {position: absolute; z-index: -1; width:100%; left:0; 
	top:0; height:100%; background-image: url("../media/1.jpg"); background-repeat: no-repeat; background-size: cover; filter: grayscale(100%); opacity: .25; }
 */
.contactusbutton { position: absolute; bottom: 20px; 
	position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
	border: solid 2px #A00000; background: #A00000; 
	color: #fff; border-radius: 10px; padding: 11px 50px 9px; 
	font-size: large; z-index: 0}
.contactusbutton:hover { border: solid 2px #FFF; border-radius: 10px; background-color: #A00000; color: #fff; box-shadow: 0 2px 5px 0 #404040 }
a.contactusbutton:active { padding: 13px 50px 7px }

#title {	position: absolute;
	margin: auto;
  position: absolute;
  top: 30px; left: 0; bottom: 0; right: 0;
}
.servicespagegrid {
	position: absolute; 
	top: 100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(min-content, max-content);
	grid-column-gap: 60px;
	grid-row-gap: 60px;
	max-width: 960px; 
	margin: 25px auto; 
	line-height: 1.5;
	text-align: left;
	z-index: -0;
	}
	


	.servicespagegrid1 { overflow:hidden;grid-area: 1 / 1 / 2 / 2; border: solid 2px #A00000; border-radius: 10px; background-color: #ffffff}
	.servicespagegrid2 { overflow:hidden;grid-area: 1 / 2 / 2 / 3; border: solid 2px #A00000; border-radius: 10px; background-color: #ffffff}
	.servicespagegrid3 { overflow:hidden;grid-area: 2 / 1 / 3 / 2; border: solid 2px #A00000; border-radius: 10px; background-color: #ffffff}
	.servicespagegrid4 { overflow:hidden;grid-area: 2 / 2 / 3 / 3; border: solid 2px #A00000; border-radius: 10px; background-color: #ffffff}
	.servicespagegrid5 { overflow:hidden;grid-area: 3 / 1 / 4 / 2; border: solid 2px #A00000; border-radius: 10px; background-color: #ffffff}
	.servicespagegrid6 { overflow:hidden;grid-area: 3 / 2 / 4 / 3; border: solid 2px #A00000; border-radius: 10px; background-color: #ffffff}

	.servicespagegrid1:hover {box-shadow: 0 2px 5px 0 #404040 }
	.servicespagegrid2:hover {box-shadow: 0 2px 5px 0 #404040 }
	.servicespagegrid3:hover {box-shadow: 0 2px 5px 0 #404040 }
	.servicespagegrid4:hover {box-shadow: 0 2px 5px 0 #404040 }
	.servicespagegrid5:hover {box-shadow: 0 2px 5px 0 #404040 }
	.servicespagegrid6:hover {box-shadow: 0 2px 5px 0 #404040 }

.servicespagedescri {	padding: 20px;  z-index: -10 }
.servicespagetitle {background-color: #A00000; min-height: 90px;  z-index: -10 }

	.servicespagegrid * img {
		width: 100%;
		min-height: 50px;
		max-height: 200px;
		object-fit: cover;
		filter: grayscale(100%);
		z-index: 0;
}

.servicespagegrid1:hover > img {	filter: grayscale(0); width: 101%;}
.servicespagegrid2:hover > img {	filter: grayscale(0); width: 101%;}
.servicespagegrid3:hover > img {	filter: grayscale(0); width: 101%;}
.servicespagegrid4:hover > img {	filter: grayscale(0); width: 101%;}
.servicespagegrid5:hover > img {	filter: grayscale(0); width: 101%;}
.servicespagegrid6:hover > img {	filter: grayscale(0); width: 101%;}